.image {
    position: relative;
    display: inline-block;
    width: auto;

    &__img {
        object-fit: contain;
        height: auto;
        max-height: 100vh;
        max-width: 100%;
    }

    &__zoom-button {
        @extend .button;
        position: absolute;
        top: var(--spacing-y);
        right: var(--spacing-x);

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &__zoom-content {
        display: block;
        max-width: 100%;
    }
}