<aside 
    class="webmentions" 
    data-component="webmentions" 
    data-webmentions-url="{{ $.Site.Params.webmentionURL }}"
    data-webmentions-api-proxy="{{ $.Site.Params.apiProxy }}"
>
    <a hidden href="https://brid.gy/publish/twitter"></a>
    <span class="loader" data-webmentions-el="loader"><span class="is--visually-hidden">Loading</span></span>
    <ul data-webmentions-el="replies">
        <li hidden class="webmentions__reply" data-webmentions-el="prototype">
            <a data-webmentions-el="link" href="">
                <img data-webmentions-el="avatar" src="">
                <span data-webmentions-el="name"></span>
            </a>
            <time data-webmentions-el="date"></time>
            <div data-webmentions-el="content"></div>
        </li>
    </ul>
</aside>