.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    z-index: var(--z-overlay);

    @media (prefers-reduced-motion: no-preference) {
        transition: opacity 0.2s ease-out;
    }

    &[data-state-toggle="open"] {
        opacity: 0.5;
        pointer-events: all;
    }
}