:root {
    --contrast: 90%; // 100 = full, 50 = none, 0 = inverted
    --background-opacity: 1;
    --font-opacity: 1;
    --accentHue: 330;

    --background: hsla(0, 0%, var(--contrast), var(--background-opacity));
    --background-inverted: hsla(0, 0%, calc(100% - var(--contrast)), var(--background-opacity));
    --font: hsla(0, 0%, calc(100% - var(--contrast)), var(--font-opacity));
    --font-inverted: hsla(0, 0%, var(--contrast), var(--font-opacity));
    --accent: hsla(var(--accentHue), 100%, 50%, 1);
    --bg-grey: hsla(0, 0%, calc(50% + ((50% - var(--contrast) * 0.3))), var(--font-opacity));
    --fg-grey: hsla(0, 0%, calc(50% + ((50% - var(--contrast) * 0.7))), var(--font-opacity));
}

::selection {
    background-color: var(--accent);
}