:root {
    --spacing-x: 1rem;
    --spacing-y: 1rem;
    --content-width: 48rem;
    --content-narrow-width: 70ch;
    --border-width: 3px;
    --z-overlay: 100;
    --z-header: 90;
    --z-menu: 110;
    --z-below: -1;
    --max-width: #{$max-width};
}

* {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--base-color);
    color: var(--fg-color);
    max-width: var(--max-width);

    &[data-state-scrolling="disabled"] {
        overflow: hidden;
    }
}

main {
    max-width: var(--content-width);
    margin: auto;
    padding: 0 var(--spacing-x) var(--spacing-y);
}

.breakout {
    position: relative;
    left: calc(
        (100vw - min(var(--content-width), 100vw)) / -2 - var(--spacing-x)
    );
    width: 100vw;
    max-width: none;
}

hr {
    border: none;
    border-top: var(--border-width) dashed var(--grey);
    margin: calc(2 * var(--spacing-y)) 0;
}

ol,
ul {
    padding-inline-start: var(--spacing-x);

    & + & {
        padding-inline-start: calc(var(--spacing-x) * 2);
    }
}

blockquote {
    position: relative;
    max-width: var(--content-narrow-width);
    margin: auto;
    padding-left: var(--spacing-x);
    margin: var(--spacing-y) 0;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        border-left: var(--border-width) dashed var(--grey);
    }

    > footer {
        margin-top: calc(var(--spacing-y) / 2);
    }
}

pre {
    overflow: auto;
}

.button {
    display: inline-block;
    padding: 0.4ch 0.5em;
    border: none;
    background: var(--fg-color);
    color: var(--base-color);
    font-size: calc(var(--base-font-size) * 0.8);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: var(--accent-color);
    }

    * {
        vertical-align: middle;
    }

    &:not(:disabled):hover {
        border-color: var(--grey);
    }

    &:not(:disabled):active {
        border-color: var(--accent-color);
    }

    &:disabled {
        border-style: dashed;
        color: var(--grey);
        cursor: not-allowed;
    }
}

button {
    @extend .button;
}

.is--visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    pointer-events: none;
}

@media screen and (min-width: $lg-width) {
    :root {
        --z-menu: var(--z-header);
    }
}