@font-face {
    font-family: Share;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Share Bold"), local("Share-Bold"),
        url(/fonts/share-v10-latin-700.woff2) format("woff2"),
        url(/fonts/share-v10-latin-700.woff) format("woff");
}
:root {
    --base-font-size: 1rem;
    --base-line-height: 1.6em;
    --base-letter-spacing: 0.01875em;
    --headline-font: Share, Arial, Helvetica Neue, Helvetica, sans-serif;
}

* {
    line-height: var(--base-line-height);
    letter-spacing: var(--base-letter-spacing);
}

main {
    --base-font-size: 1.2rem;
    font-size: var(--base-font-size);
}

a {
    color: inherit;
    text-decoration-thickness: 0.11em;

    &:hover {
        text-decoration-color: var(--accent-color);
        
        .icon {
            color: var(--accent-color);
        }
    }

    article li &,
    cite &,
    p & {
        color: var(--grey);
        &:hover {
            color: inherit;
        }
    }
}

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--headline-font);
    font-weight: 700;
    margin-top: var(--spacing-y);
    margin-bottom: var(--spacing-y);
    --base-line-height: 1.2em;
    --base-letter-spacing: 0;

    * + & {
        margin-top: calc(var(--spacing-y) * 2);
    }
}

h1, .h1 { font-size: calc(var(--base-font-size) * 2); }
h2, .h2 { font-size: calc(var(--base-font-size) * 1.5); }
h3, .h3 { font-size: calc(var(--base-font-size) * 1.2); }
h4, .h4 { font-size: calc(var(--base-font-size) * 1); }
h5, .h5 { font-size: calc(var(--base-font-size) * 0.9); }
h6, .h6 { font-size: calc(var(--base-font-size) * 0.8); }
p { margin: 0; }

@media screen and (min-width: $lg-width) {
    main {
        --base-font-size: 1.3rem;
    }
}