<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body data-component="index">
        <script>if (window.localStorage && localStorage.colorScheme) { document.body.dataset.stateColorScheme = localStorage.colorScheme; }</script>
        {{- partial "overlay/overlay.html" . -}}
        {{- partial "header/header.html" . -}}

        <main id="content">
            {{- block "main" . }}{{- end }}
        </main>
        
        {{- partial "footer/footer.html" . -}}
        {{- partial "modal/modal.html" . -}}
    </body>
</html>
