<!DOCTYPE html>
<html lang="{{ if .Page.Params.language }}{{ .Page.Params.language }}{{ else }}{{ .Site.LanguageCode }}{{ end }}">
    {{- partial "head/head.html" . -}}
    <body data-component="body">
        <script>
            if (window.localStorage && localStorage.colorScheme) { 
                document.body.dataset.stateColorScheme = localStorage.colorScheme;
                document.querySelector('meta[name="theme-color"]')
                    .setAttribute('content', localStorage.colorScheme === 'light' ? '#f1f3f4' : '#0e181b');
            }
        </script>

        {{- partial "skiplink/skiplink.html" . -}}
        {{- partial "header/header.html" . -}}

        <main id="content">
            {{- block "main" . -}}{{ end }}
        </main>
        
        {{- partial "footer/footer.html" . -}}
        
        {{- partial "overlay/overlay.html" . -}}
        {{- partial "modal/modal.html" . -}}
    </body>
</html>
