.main-menu {
    --menuWidth: 20rem; // 320px
    --base-font-size: 1rem;

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: var(--z-menu);

    &__check {
        display: none;

        &:checked {
            position: fixed;
            display: block;
            width: 100%;
            height: 100%;
            opacity: 0;
            pointer-events: all;
        }
    }

    &__list {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        right: 0;
        width: 80vw;
        max-width: var(--menuWidth);
        height: 100%;
        margin: 0;
        padding: var(--spacing-x) var(--spacing-y);
        border-left: var(--line-width) solid var(--background);
        list-style: none;
        overflow: auto;
        transform: translateX(var(--menuWidth));
        color: var(--font-inverted);
        background-color: var(--background-inverted);
        pointer-events: all;

        &[aria-hidden="true"] {
            visibility: hidden;

            @media (prefers-reduced-motion: no-preference) {
                transition: transform 0.2s ease-out, visibility 0.2s ease-out;
            }
        }
        
        &[aria-hidden="false"],
        .main-menu__check:checked ~ & {
            transform: translateX(0);
            visibility: visible;

            @media (prefers-reduced-motion: no-preference) {
                transition: transform 0.2s ease-out, visibility 0.2s ease-out;
            }
        }
    }

    &__link {
        color: var(--font);
    }

    &__additional-items {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        flex-basis: 100%;
    }

    &__additional-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item,
    &__additional-item {
        font-size: calc(var(--base-font-size) * 1.5);
        margin: var(--spacing-y) 0;
    }
}

@media screen and (min-width: $lg-width) {
    .main-menu {
        --menuWidth: var(--content-width);
        --base-font-size: 1.3rem;

        position: relative;
        height: auto;
        background-color: var(--background-inverted);

        position: sticky;
        top: 0;

        &__list {
            position: relative;
            flex-direction: row;
            width: 100%;
            margin: auto;
            padding: var(--spacing-y) var(--spacing-x);
            border: none;
            transform: translateX(0);
            background-color: none;
            transition: none;

            &[aria-hidden] {
                visibility: visible;
            }
        }

        &__additional-items {
            flex-direction: row;
            align-items: center;
        }

        &__item,
        &__additional-item {
            flex: 1 0 auto;
            display: flex;
            align-items: center;
            font-size: var(--base-font-size);
            margin: 0;
            
            & + & {
                margin-left: var(--spacing-x);
            }
        }
    }
}