.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--content-width);
    padding: var(--spacing-y) var(--spacing-x);
    margin: calc(var(--spacing-y) * 5) auto 0;
    color: var(--grey);

    &__list {
        list-style: none;
        margin-right: var(--spacing-x);
        padding-inline-start: 0;
    }

    &__entry {
        display: inline-block;
        margin-right: 1ch;

        &--copy {
            display: block;
        }
    }

    &__search {
        margin-top: var(--spacing-y);
    }
}