{{ $article := .ctx }}
{{ $lazy := .lazyImage }}

<article {{ if $article.Params.lang }}lang="{{ $article.Params.language }}"{{ end }} class="article__card" aria-label="{{ $article.Title }}">
    {{ if $article.Params.banner }}
        <a href="{{ $article.Permalink }}">
            {{ $bannerAlt := $article.Title }}
            {{ if $article.Params.banner_alt }}
                {{ $bannerAlt = $article.Params.banner_alt }}
            {{ end }} 
            {{ partial "image/image.html" (dict "ctx" $article.Page "src" $article.Params.banner "class" "article-card__banner" "alt" $bannerAlt "lazy" $lazy) }}
        </a>
    {{ end }}

    <aside class="article-card__meta">
        <time datetime="{{ $article.Date.Format "2006-01-02" }}" class="article-card__date">{{ $article.Date.Format "02.01.2006" }}</time>
        {{ if $article.Params.language }}
            <p class="article-card__language">
                {{ $article.Params.language }}
            </p>
        {{ end }}
    </aside>

    <h2 class="h1 article-card__title">
        <a href="{{ $article.Permalink }}">{{ $article.Title }}</a>
    </h2>

    <div class="article-card__content">{{ $article.Summary }}</div>
    
    {{ if $article.Truncated }}
        <a href="{{ $article.Permalink }}" class="article-card__more">
            <span class="is--visually-hidden">to article</span>
            {{ partial "icon.html" "chevron-right-solid" }}
            {{ partial "icon.html" "chevron-right-solid" }}
            {{ partial "icon.html" "chevron-right-solid" }}
        </a>
    {{ end }}
</article>