.article-card {
    &__banner {
        @extend .article__banner;
        width: 100%;
        border: var(--border-width) solid var(--fg-color);

        &:hover {
            border-color: var(--accent-color);
        }
    }
    
        &__categories,
        &__meta {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            justify-content: flex-start;
            grid-gap: var(--spacing-x);
        }

    &__meta {
        color: var(--grey);
        font-size: calc(var(--base-font-size) * 0.8);
    }

    &__categories {
        list-style: none;
        margin: 0;
        padding-inline-start: 0;
    }

    &__title {
        @extend .article__title;
    }

    &__date {
        @extend .article__banner;
    }

    &__content {
        @extend .article__content;
    }

    &__category-link,
    &__date,
    &__language {
        display: inline-block;
        margin: 0;
        text-transform: lowercase;

        .icon {
            margin-right: 0.5ch;
        }
    }

    &__language {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.4em;
        margin-top: 2px;
        padding: 0 0.4ch;
        font-size: 0.8em;
        text-transform: uppercase;
        color: var(--base-color);
        background-color: var(--grey);
    }
    
    &__more {
        @extend .button;
        margin-top: var(--spacing-y);

        .icon {
            &:nth-last-of-type(3) { transform: scale(0.6); }
            &:nth-last-of-type(2) { transform: scale(0.8); margin-left: -0.6ch; }
            &:nth-last-of-type(1) { transform: scale(1.0); margin-left: -0.6ch; }
        }

        &:hover {
            color: var(--base-color);

            .icon {
                color: var(--accent-color);
                transition: color 0s;
                &:nth-last-of-type(2) { transition-delay: 0.1s }
                &:nth-last-of-type(1) { transition-delay: 0.2s }
            }
        }
    }
    
    & + & {
        border-left: var(--border-width) dashed var(--base-color);
    }
}