<article {{ if .Params.lang }}lang="{{ .Params.language }}"{{ end }} class="article__card" aria-label="{{ .Title }}">
    {{ if .Params.banner }}
        <a href="{{ .Permalink }}">
            {{ $bannerAlt := .Title }}
            {{ if .Params.banner_alt }}
                {{ $bannerAlt = .Params.banner_alt }}
            {{ end }} 
            {{ partial "image/image.html" (dict "ctx" .Page "src" .Params.banner "class" "article-card__banner" "alt" $bannerAlt) }}
        </a>
    {{ end }}

    <aside class="article-card__meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}" class="article-card__date">{{ .Date.Format "02.01.2006" }}</time>
        {{ if .Params.language }}
            <p class="article-card__language">
                {{ .Params.language }}
            </p>
        {{ end }}
    </aside>

    <h1 class="article-card__title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>

    <div class="article-card__content">{{ .Summary }}</div>
    
    {{ if .Truncated }}
        <a href="{{ .Permalink }}" class="article-card__more">
            <span class="is--visually-hidden">to article</span>
            {{ partial "icon.html" "chevron-right-solid" }}
            {{ partial "icon.html" "chevron-right-solid" }}
            {{ partial "icon.html" "chevron-right-solid" }}
        </a>
    {{ end }}
</article>