<article {{ if .Params.lang }}lang="{{ .Params.language }}"{{ end }} class="article__card" aria-label="{{ .Title }}">
    {{ if .Params.banner }}
        <a href="{{ .Permalink }}">
            {{ partial "image/image.html" (dict "ctx" .Page "src" .Params.banner "class" "article-card__banner" "alt" .Title) }}
        </a>
    {{ end }}

    <aside class="article-card__meta">
        <p class="article-card__date">{{ .Date.Format "02.01.2006" }}</p>
        {{ if .Params.language }}
            <p class="article-card__language article-card__language-{{ .Params.language }}">
                <span class="is--visually-hidden">{{ .Params.language }}</span>
            </p>
        {{ end }}
        <ul class="article-card__categories">
            {{ range $key := .Params.categories }}
                {{ with $.Site.GetPage (printf "/%s/%s" "categories" $key) }}
                    {{ $icon := false }}
                    {{ if eq (.Name | lower) "art" }}{{ $icon = "palette-solid" }}{{ end }}
                    {{ if eq (.Name | lower) "tech" }}{{ $icon = "code-solid" }}{{ end }}
                    {{ if eq (.Name | lower) "video" }}{{ $icon = "video-solid" }}{{ end }}

                    <li>
                        <a class="article-card__category-link" href="{{ .Permalink }}">
                            {{ if $icon }}{{ partial "icon.html" (dict "name" $icon "ctx" $)}}{{ end }}
                            {{ .Name }}
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </aside>

    <h1 class="article-card__title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>

    <div class="article-card__content">{{ .Summary }}</div>
    
    {{ if .Truncated }}
        <a href="{{ .Permalink }}" class="article-card__more">
            <span class="is--visually-hidden">to article</span>
            {{ partial "icon.html" (dict "name" "chevron-right-solid" "ctx" $)}}
            {{ partial "icon.html" (dict "name" "chevron-right-solid" "ctx" $)}}
            {{ partial "icon.html" (dict "name" "chevron-right-solid" "ctx" $)}}
        </a>
    {{ end }}
</article>