{{ if .Page.Scratch.Get "renderModal" }}
    <div hidden data-component="modal" class="modal" aria-hidden="true" role="dialog">
        <section class="modal__inner">
            <button class="modal__close button is--icon" data-modal-el="closeButton" title="Close">
                <span class="is--visually-hidden">Close</span>
                <span class="icon">
                    {{ partial "icon.html" "times-solid" }}
                </span>
            </button>
            <div class="modal__content" data-modal-el="content"></div>
        </section>
    </div>
{{ end }}