{{ define "main" }}
    <ul class="all-posts">
        {{ $paginator := .Paginate .Site.RegularPages }}
        {{ range $paginator.Pages }}
            {{ if eq .Type "post"}}
                <li>
                    <article aria-label="{{ .Title }}">
                        <h2><a href={{ .Permalink }}>{{ .Title }}</a></h2>
                        <p>{{ .Summary }}</p>
                    </article>
                </li>
            {{ end }}
        {{ end }}
    </ul>

    {{ partial "pagination.html" . }}

    todo:
    <ul>
        <li>include basic component set</li>
        <li>posts:
            <ul>
                <li>
                    shortcodes & features
                    <ul>
                        <li>Dev.to</li>
                        <li>Slider</li>
                        <li>Modal</li>
                    </ul>
                </li> 
                <li>image processing</li>
            </ul>
        </li>
        <li>infrastructure
            <ul>
                <li>trigger pull (main repo) on push (content repo master)</li>
            </ul>
        </li>
    </ul>
{{ end }}