<div data-component="presentation">
    <div class="presentation__head">
        <div class="presentation__image">
            <h2 class="presentation__greeting">Hi</h2>
            {{ partial "presentation/presentationImage.svg" . }}
        </div>

        <ul class="presentation__list">
            <li class="presentation__list-entry">I code websites.</li>
            <li class="presentation__list-entry">I make videos.</li>
            <li class="presentation__list-entry">I do artsy stuff.</li>
            <li class="presentation__list-entry">I blog sometimes.</li>
        </ul>
    </div>
    <h2>Here's my latest article:</h2>
    <hr class="presentation__divider">
    {{ partial "articleCard/articleCard.html" (index .Site.RegularPages 1) }}

</div>