@keyframes reactions-bling {
	from {
		clip-path: circle(0%);
		opacity: 0;
		transform: rotate(0deg);
	}

	5% {
		opacity: 1;
		clip-path: circle(45%);
	}

	90% {
		clip-path: circle(45%);
		opacity: 1;
	}

	to {
		clip-path: circle(45%);
		transform: rotate(120deg);
		opacity: 0;
	}
}

.reactions {
	--image-size: 4rem;

	border-top: var(--border-width) dashed var(--grey);
	margin-top: var(--spacing-y);

	&__loader {
		margin-top: calc(var(--spacing-y) * 2.5);
	}

	&__title {
		background: transparent;
		border: none;
		color: inherit;

		&:not([aria-disabled="true"]) {
			cursor: pointer;

			&:hover {
				.reactions__icon {
					color: var(--accent-color);
				}
			}
		}

		&[aria-disabled="true"] {
			.reactions__icon {
				color: var(--accent-color);
			}
		}
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: var(--spacing-y) auto 0;
	}

	&__reply {
		border-bottom: var(--border-width) dashed var(--grey);
		padding: var(--spacing-y) 0;

		// 1st of type is the prototype
		&:nth-of-type(2) {
			padding-top: 0;
		}

		&:last-of-type {
			padding-bottom: 0;
			border-bottom: 0;
		}
	}

	&__icon {
		position: relative;
		color: transparent;
		--shadow-width: 0.25rem;
		text-shadow: 0 0 var(--fg-color),
			0 var(--shadow-width) var(--base-color),
			var(--shadow-width) 0 var(--base-color),
			0 calc(var(--shadow-width) * -1) var(--base-color),
			calc(var(--shadow-width) * -1) 0 var(--base-color);
		z-index: 1;

		.is--animated > &::before {
			content: "";
			position: absolute;
			top: -60%;
			left: -50%;
			right: -50%;
			bottom: -50%;
			z-index: -1;
			background: repeating-conic-gradient(
				from 0deg at 50% 50%,
				var(--accent-color) 0%,
				var(--accent-color) 3%,
				rgba(0, 0, 0, 0) 3%,
				rgba(0, 0, 0, 0) 10%
			);
			animation: reactions-bling 5s linear infinite;
		}
	}

	&__counter {
		z-index: 0;
	}

	&__header {
		position: relative;
		display: inline-flex;
		text-decoration: none;
		min-height: var(--image-size);
		flex-wrap: wrap;
		align-items: center;
		padding-left: calc(var(--image-size) + var(--spacing-x));
	}

	&__user {
		flex: 1 0 100%;
		pointer-events: none;
	}

	&__avatar {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		border-radius: 50%;
		min-width: var(--image-size);
		max-width: var(--image-size);
		min-height: var(--image-size);
		max-height: var(--image-size);
		margin-right: var(--spacing-x);
		object-fit: cover;
		background-color: var(--grey);
		pointer-events: all;

		a[href]:hover > & {
			box-shadow: 0 0 0 2px var(--accent-color);
		}
	}

	&__name {
		display: inline-block;
		font-family: var(--headline-font);
		font-weight: 700;
		pointer-events: all;

		a[href] & {
			text-decoration: underline;
		}

		a[href]:hover & {
			text-decoration-color: var(--accent-color);
		}
	}

	&__via,
	&__date {
		@extend .article__meta;
		margin-right: 1ch;
	}

	&__content,
	&__reply-button {
		margin-left: calc(var(--image-size) + var(--spacing-x));
		word-break: break-word;
	}

	&__reply-button {
		margin-top: var(--spacing-y);
	}
}
