.reactions {
    border-top: var(--border-width) dashed var(--grey);
    margin-top: var(--spacing-y);

    &__loader {
        margin-top: calc(var(--spacing-y) * 2.5);
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: var(--spacing-y) auto 0;
    }

    &__reply {
        border-bottom: var(--border-width) dashed var(--grey);
        padding: var(--spacing-y) 0;

        // 1st of type is the prototype
        &:nth-of-type(2) {
            padding-top: 0;
        }

        &:last-of-type {
            padding-bottom: 0;
            border-bottom: 0;
        }
    }

    &__header {
        display: inline-flex;
        text-decoration: none;
    }

    &__avatar {
        display: block;
        border-radius: 50%;
        min-width: 4rem;
        max-width: 4rem;
        min-height: 4rem;
        max-height: 4rem;
        margin-right: var(--spacing-x);
        object-fit: cover;
        background-color: var(--grey);

        a[href]:hover > & {
            box-shadow: 0 0 0 2px var(--accent-color);
        }
    }

    &__name {
        font-family: var(--headline-font);
        font-weight: 700;

        a[href] & {
            text-decoration: underline;
        }

        a[href]:hover & {
            text-decoration-color: var(--accent-color);
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__via,
    &__date {
        @extend .article__meta;
        margin-right: 1ch;
    }

    &__content {
        margin-left: calc(4rem + var(--spacing-x));
    }
}