{{ if and (eq .Page.Type "post") (not (eq .Params.hide_reactions true)) }}
    <aside 
        class="reactions" 
        data-component="reactions" 
        {{ with $.Site.Params.apiProxy }}data-reactions-api-proxy="{{ . }}"{{ end }}
        {{ with $.Site.Params.webmentionURL }}data-webmentions-url="{{ . }}"{{ end }}
        {{ with $.Page.Params.dev_id }}data-reactions-dev-id="{{ . }}"{{ end }}
    >
        <span class="reactions__loader loader" data-reactions-el="loader"><span class="is--visually-hidden">Loading Reactions</span></span>

        <button hidden aria-disabled="true" class="h2 reactions__title" data-reactions-el="likesTitle">
            <span class="reactions__icon">❤</span> <span class="reactions__counter" data-reactions-el="likesCounter">0</span> Likes
        </button>
        <h2 hidden class="reactions__title" data-reactions-el="repliesTitle">Comments:</h2>
        <ul class="reactions__list" data-reactions-el="replyList">
            <li hidden class="reactions__reply" data-reactions-el="prototype" role="comment">
                <div class="reactions__header">
                    <a class="reactions__user" data-reactions-el="link">
                        <img class="reactions__avatar" data-reactions-el="avatar" src="" alt="">
                        <span class="reactions__name" data-reactions-el="name"></span>
                    </a>
                    <time class="reactions__date" data-reactions-el="date"></time>
                    <a class="reactions__via" data-reactions-el="via"></a>
                </div>
                <div class="reactions__content" data-reactions-el="content"></div>
                <a hidden class="reactions__reply-button button is--hidden" data-reactions-el="reply"></a>
            </li>
        </ul>
    </aside>
{{ end }}