@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.header {
    margin-top: var(--spacing-y);
    padding: 0 var(--spacing-x);
    display: flex;
    justify-content: flex-end;
    margin-bottom: calc(var(--spacing-y) / 2);
    z-index: var(--z-header);

    &__title {
        margin: 0;

        &-link {
            &::after {
                content: "_";
                animation: blink 1s steps(1) infinite alternate;
            }

            &:hover::after {
                animation-duration: 0.25s;
            }
        }   
    }

    &__menu {
        position: sticky;
        top: var(--spacing-y);
        left: var(--spacing-x);
        display: inline-flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: calc(var(--spacing-y) * 5);
        padding: 0 var(--spacing-x);
        z-index: var(--z-header);
        font-family: var(--headline-font);

        &-list {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: calc(var(--spacing-x) / 2);
            padding-inline-start: 0;
            margin: 0;
            list-style: none;
        }

        &-item {
            &[data-item-name="Art"] { order: 3; }
            &[data-item-name="Tech"] { order: 1; }
            &[data-item-name="Video"] { order: 2; }
        }

        &-link {
            font-size: 1.2em;

            .icon {
                margin-right: 0.5ch;
            }
        }
    }

    &__menu-item,
    &__title {
        display: inline-block;
        color: var(--base-color);
        font-weight: 700;
        background-color: var(--fg-color);
        padding: 1px 5px;
    }

    &__menu-link,
    &__title-link {
        text-decoration: none;
        text-transform: lowercase;

        &:hover,
        &.is--active {
            .icon, &::after {
                color: var(--accent-color);
            }
        }
    }
}

@media (min-width: $lg-width) {
    .header {
        justify-content: flex-start;

        &__menu {
            justify-content: flex-start;
        }
    }
}

@media (min-width: $xl-width) {
    .header {
        &__menu {
            margin-bottom: var(--spacing-y);

            + * {
                position: relative;
                top: -6rem;
            }
        }
    }
}