<header class="header">
    <h1 class="header__title">
        <a href="{{ .Site.BaseURL }}" class="header__title-link">{{ .Site.Title }}</a>
    </h1>
</header>
<nav class="header__menu">
    <ul class="header__menu-list">
        {{range $key, $taxonomy := .Site.Taxonomies.categories }}
            {{ with $.Site.GetPage (printf "/%s/%s" "categories" $key) }}

                {{ $icon := false }}
                {{ if eq (.Name | lower) "art" }}{{ $icon = "palette-solid" }}{{ end }}
                {{ if eq (.Name | lower) "tech" }}{{ $icon = "code-solid" }}{{ end }}
                {{ if eq (.Name | lower) "video" }}{{ $icon = "video-solid" }}{{ end }}

                {{ $isActive := false }}
                {{ if eq ($.Page.Name | lower) $key }}
                    {{ $isActive = true }}
                {{ else }}
                    {{ range $.Page.Params.categories }}
                        {{ if eq (. | lower) $key }}{{ $isActive = true }}{{ end }}
                    {{ end }}
                {{ end }}

                <li class="header__menu-item" data-item-name="{{ .Name }}">
                    <a 
                        href="{{ .Permalink }}" 
                        class="header__menu-link{{ if $isActive }} is--active{{ end }}"
                    >
                        {{ if $icon }}{{ partial "icon.html" (dict "name" $icon "ctx" $)}}{{ end }}
                        {{ .Name }}
                    </a>
                </li>
            {{ end }}
        {{ end }}

        {{range $key, $page := .Site.RegularPages }}
            {{ if eq .Type "page" }}

                {{ $icon := false }}
                {{ if eq (.Name | lower) "info" }}{{ $icon = "grin-tongue-wink-solid" }}{{ end }}

                {{ $isActive := false }}
                {{ if eq $.Page.Name .Name }}
                    {{ $isActive = true }}
                {{ end }}

                <li class="header__menu-item">
                    <a 
                        href="{{ .Permalink }}" 
                        class="header__menu-link{{ if $isActive }} is--active{{ end }}"
                    >
                        {{ if $icon }}{{ partial "icon.html" (dict "name" $icon "ctx" $)}}{{ end }}
                        {{ .Title }}
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>