<header class="header">
    <h1 class="header__title">
        <a href="{{ .Site.BaseURL }}" class="header__title-link">{{ .Site.Title }}</a>
    </h1>
</header>
<nav class="header__menu">
    <ul class="header__menu-list">
        {{range $key, $taxonomy := .Site.Taxonomies.categories }}
            {{ with $.Site.GetPage (printf "/%s/%s" "categories" $key) }}
                {{ $icon := false }}
                {{ if eq $key "art" }}{{ $icon = "palette-solid" }}{{ end }}
                {{ if eq $key "tech" }}{{ $icon = "code-solid" }}{{ end }}
                {{ if eq $key "video" }}{{ $icon = "video-solid" }}{{ end }}

                <li class="header__menu-item">
                    <a href="{{ .Permalink }}" class="header__menu-link">
                        {{ if $icon }}{{ partial "icon.html" (dict "name" $icon "ctx" $)}}{{ end }}
                        {{ .Name }}
                    </a>
                </li>
            {{ end }}
        {{ end }}

        {{range $key, $page := .Site.RegularPages }}
            {{ $icon := false }}
            {{ if eq (.Name | lower) "info" }}{{ $icon = "grin-tongue-wink-solid" }}{{ end }}

            {{ if eq .Type "page" }}
                <li class="header__menu-item">
                    <a href="{{ .Permalink }}" class="header__menu-link">
                        {{ if $icon }}{{ partial "icon.html" (dict "name" $icon "ctx" $)}}{{ end }}
                        {{ .Title }}
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>