@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.header {
    margin-top: var(--spacing-y);
    margin-left: var(--spacing-x);
    display: block;
    margin-bottom: calc(var(--spacing-y) / 2);
    z-index: var(--z-header);

    &__title {
        margin-bottom: 0;

        &-link {
            &::after {
                content: "_";
                animation: blink 1s steps(1) infinite alternate;
            }

            &:hover::after {
                animation-duration: 0.25s;
            }
        }   
    }

    &__menu {
        position: sticky;
        top: var(--spacing-y);
        left: var(--spacing-x);
        display: inline-block;
        width: auto;
        margin-left: var(--spacing-x);
        margin-bottom: calc(var(--spacing-y) * 5);
        z-index: var(--z-header);
        font-family: var(--headline-font);

        &-list {
            padding-inline-start: 0;
            margin: 0;
            list-style: none;
        }

        &-link {
            font-size: 1.2em;

            .icon {
                margin-right: 0.5ch;
            }
        }
    }

    &__menu-item,
    &__title {
        display: inline-block;
        color: var(--base-color);
        font-weight: 700;
        background-color: var(--fg-color);
        padding: 1px 5px;

        & + & {
            margin-left: calc(var(--spacing-x) / 2);
        }
    }

    &__menu-link,
    &__title-link {
        text-decoration: none;
        text-transform: lowercase;

        &:hover,
        &.is--active {
            .icon, &::after {
                color: var(--accent-color);
            }
        }
    }
}