@mixin article__meta {
    color: var(--grey);
    margin-bottom: 0;
    font-size: calc(var(--base-font-size) * 0.8);
}

.article {
    word-break: break-word;

    &__banner {
        display: flex;
        place-content: center;
        width: 100%;
        max-width: 100%;
        max-height: none;
        margin: 0 0 var(--spacing-y);
    }

    &__title {
        @extend h1;
        margin: 0 0 var(--spacing-y);
    }

    &__meta {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: flex-start;
        grid-gap: var(--spacing-x);
        color: var(--grey);
        font-size: calc(var(--base-font-size) * 0.8);

        &:first-child {
            margin-top: -0.2em;
        }
    }

    &__date {
        display: inline-block;
        margin: 0;
    }

    &__language {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.4em;
        margin: 0;
        padding: 0 0.4ch;
        font-size: 0.8em;
        text-transform: uppercase;
        color: var(--base-color);
        background-color: var(--grey);
    }

    &__content {
        > * {
            margin-bottom: var(--spacing-y);
        }

        * {
            --spacing-y: 1.5rem;
            scroll-margin-top: 2em;
    
            &:not(.breakout) {
                max-width: 100%;
            }
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: $xl-width) {
    .article {
        &__content * {
            scroll-margin-top: calc(var(--spacing-y) / 2);
        }
    }
}