<article class="article" data-component="article">
    {{ if .Params.banner }}
        <img class="article__banner" src="{{ .Params.banner }}" alt="{{ .Title }}">
    {{ end }}

    <span class="article__date">{{ .Date.Format "02.01.2006" }}</span>
    <h2 class="article__title">{{ .Title }}</h2>

    {{ if .TableOfContents }}
        {{ partial "tableOfContents/tableOfContents.html" . }}
    {{ end }}
    
    <div class="article__content" data-article-el="content">
        {{ .Content }}
    </div>
</article>