.article {
    --spacing-y: 1.5rem;

    &__banner {
        width: 100%;
        max-width: 100%;
        margin: 0 0 var(--spacing-y);
    }

    &__title {
        @extend h1;
        margin: 0 0 var(--spacing-y);
    }

    &__date {
        color: var(--grey);
        margin-bottom: 0;
        font-size: calc(var(--base-font-size) * 0.8);
    }

    &__content * {
        &:not(.breakout) {
            max-width: 100%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

