<article {{ if .Params.lang }}lang="{{ .Params.language }}"{{ end }} class="article h-entry" data-component="article">
    <a hidden href="{{ .Permalink }}" class="u-url"></a>
    {{ if .Params.banner }}
        <!--<img 
            class="article__banner" 
            src="{{ .Params.banner }}" 
            alt="{{ if .Params.banner_alt }}{{ .Params.banner_alt }}{{ else }}{{ .Title }}{{ end }}">-->

            {{ $bannerAlt := .Title }}
            {{ if .Params.banner_alt }}
                {{ $bannerAlt = .Params.banner_alt }}
            {{ end }} 
            {{ partial "image/image.html" (dict "ctx" .Page "src" .Params.banner "class" "article__banner" "alt" $bannerAlt) }}
    {{ end }}

    {{ if eq .Page.Type "post" }}
        <aside class="article__meta">
            <time datetime="{{ .Date.Format "2006-01-02" }}" class="article__date dt-published">{{ .Date.Format "02.01.2006" }}</time>
            {{ if .Params.language }}
                <p class="article__language">
                    {{ .Params.language }}
                </p>
            {{ end }}
        </aside>
    {{ end }}
    
    <h2 class="article__title p-name">{{ .Title }}</h2>

    {{ if and (gt .WordCount 250 ) (.TableOfContents) }}
        {{ partial "tableOfContents/tableOfContents.html" . }}
    {{ end }}
    
    <div class="article__content e-content" data-article-el="content">
        {{ .Content }}
    </div>

    <a href="https://brid.gy/publish/twitter"></a>
    <data class="p-bridgy-omit-link" value="false"></data>

    <div hidden class="h-card p-author">
        <a class="u-url" href="{{ .Site.BaseURL }}">
            <span class="p-name">{{ .Site.Title }}</span>
        </a>
        <img class="u-photo" alt="iamschulz avatar" src="{{- (index .Site.Data.assetManifest "favicon.svg") | relURL -}}">
    </div>
</article>
