@mixin article__meta {
    color: var(--grey);
    margin-bottom: 0;
    font-size: calc(var(--base-font-size) * 0.8);
}

.article {
    --spacing-y: 1.5rem;

    &__banner {
        display: flex;
        place-content: center;
        width: 100%;
        max-width: 100%;
        margin: 0 0 var(--spacing-y);
    }

    &__title {
        @extend h1;
        margin: 0 0 var(--spacing-y);
    }

    &__date {
        @include article__meta();
    }

    &__content * {
        scroll-margin-top: 2em;

        &:not(.breakout) {
            max-width: 100%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (min-width: $xl-width) {
    .article {
        &__content * {
            scroll-margin-top: calc(var(--spacing-y) / 2);
        }
    }
}