{{ if eq .Page.Type "post" }}
    <aside 
        class="share-links"
        data-component="shareLinks"
        data-share-links-title="Basic Components"
        data-share-links-text="Some basic components that I use from time to time. Also a bit of JS framework around them."
        data-share-links-url="https://iamschulz.github.io/basics/"
    >
        <h2 class="share-links__title">Share this article:</h2>
        <ul class="share-links__list">
            <li class="share-links__entry">
                <a 
                    class="share-links__link" 
                    href="http://www.twitter.com/share?{{ (querify "url" .Page.Permalink | safeURL ) }}"
                    aria-label="Twitter"
                >
                    {{ partial "icon.html" (dict "name" "twitter-brands" "ctx" $)}}
                </a>
            </li>
            <li class="share-links__entry">
                <a 
                    class="share-links__link" 
                    href="https://dev.to/new?prefill=---\n title: {{ .Page.Title }}\n published: false\n tags: \n ---\n \n \n \n [{{ .Page.Title }}]({{ .Page.Permalink | safeURL }}) (via @iamschulz) \n"
                    aria-label="DEV Community"
                >
                    {{ partial "icon.html" (dict "name" "dev-brands" "ctx" $)}}
                </a>
            </li>
            <li class="share-links__entry">
                <a 
                    class="share-links__link" 
                    href="http://www.reddit.com/submit?{{ (querify "url" .Page.Permalink | safeURL ) }}&{{ (querify "title" .Page.Title ) }}"
                    aria-label="Reddit"
                >
                    {{ partial "icon.html" (dict "name" "reddit-brands" "ctx" $)}}
                </a>
            </li>
            <li class="share-links__entry">
                <a 
                    class="share-links__link" 
                    href="https://www.linkedin.com/sharing/share-offsite/?{{ (querify "url" .Page.Permalink | safeURL ) }}"
                    aria-label="LinkedIn"
                >
                    {{ partial "icon.html" (dict "name" "linkedin-brands" "ctx" $)}}
                </a>
            </li>
            <li class="share-links__entry">
                <a 
                    hidden
                    data-share-links-el="shareApiLink"
                    class="share-links__link" 
                    href="#"
                    aria-label="More share options"
                >
                    {{ partial "icon.html" (dict "name" "share-alt-solid" "ctx" $)}}
                </a>
            </li>
        </ul>
    </aside>
{{ end }}