.carousel {
    overflow: auto;

    &[data-slider-ready] {
        overflow: hidden;
    }
    
    &__grid {
        display: flex;
        align-items: center;
        transform: translateX(0);

        &[data-autoplay="true"] {
            transition: transform 0.25s ease-out;
        }

        > * + * {
            margin-left: var(--spacing-x);
        }

        > * {
            flex: 0 0 85%;
        }

        img {
            pointer-events: none;
            user-select: none;
        }
    }
}

@media (pointer: fine) {
    .carousel {
        overflow: scroll;
    
        &[data-slider-ready] {
            overflow: hidden;
        }
    }     
}